/********** Template CSS **********/

:root {
	--primary: #47b2e4;
	--secondary: #34ad54;
	--light: #eef9ff;
	--dark: #091e3e;
}
#logoimage {
	padding: 7px;
	margin: auto;
	height: 100px;
}
.navbar-brand img{
	width: 150px;
	height: 80px;
	z-index: 1;
	transition: .5s;
}
.navbar-brand img:hover{
	transform: scale(1.15);
}


/*** Spinner ***/
.spinner {
	width: 40px;
	height: 40px;
	background: var(--primary);
	margin: 100px auto;
	-webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
	animation: sk-rotateplane 1.2s infinite ease-in-out;
}
.social-buttons a {
	background-color: var(--secondary);
	font-size: 18px;
}
@-webkit-keyframes sk-rotateplane {
	0% {
		-webkit-transform: perspective(120px);
	}
	50% {
		-webkit-transform: perspective(120px) rotateY(180deg);
	}
	100% {
		-webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
	}
}

@keyframes sk-rotateplane {
	0% {
		transform: perspective(120px) rotateX(0deg) rotateY(0deg);
		-webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
	}
	50% {
		transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
		-webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
	}
	100% {
		transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
		-webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
	}
}

#spinner {
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.5s ease-out, visibility 0s linear 0.5s;
	z-index: 99999;
}

#spinner.show {
	transition: opacity 0.5s ease-out, visibility 0s linear 0s;
	visibility: visible;
	opacity: 1;
}

/*** Heading ***/
h1,
h2,
.fw-bold {
	font-weight: 800 !important;
}

h3,
h4,
.fw-semi-bold {
	font-weight: 700 !important;
}

h5,
h6,
.fw-medium {
	font-weight: 600 !important;
}

/*** Button ***/
.btn {
	font-family: "Nunito", sans-serif;
	font-weight: 600;
	transition: 0.3s;
}

.btn-primary,
.btn-secondary {
	color: #ffffff;
	box-shadow: inset 0 0 0 50px transparent;
}

.btn-primary:hover {
	box-shadow: inset 0 0 0 0 var(--primary);
}

.btn-secondary:hover {
	box-shadow: inset 0 0 0 0 var(--secondary);
}

.btn-square {
	width: 36px;
	height: 36px;
}

.btn-sm-square {
	width: 30px;
	height: 30px;
}

.btn-lg-square {
	width: 48px;
	height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
	padding-left: 0;
	padding-right: 0;
	text-align: center;
}

/*** Navbar ***/
.navbar-dark .navbar-nav .nav-link {
	/* font-family: "Nunito", sans-serif; */
	position: relative;
	margin-left: 25px;
	padding: 35px 0;
	color: #ffffff;
	/* font-size: 18px; */
	font-weight: 600;
	outline: none;
	transition: 0.5s;
}

.sticky-top.navbar-dark .navbar-nav .nav-link {
	padding: 20px 0;
	color: var(--dark);
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
	color: var(--primary);
}

.navbar-dark .navbar-brand h1 {
	color: #ffffff;
}

.navbar-dark .navbar-toggler {
	color: var(--primary) !important;
	border-color: var(--primary) !important;
}

@media (max-width: 991.98px) {
	.sticky-top.navbar-dark {
		position: relative;
		background: #ffffff;
	}

	.navbar-dark .navbar-nav .nav-link,
	.navbar-dark .navbar-nav .nav-link.show,
	.sticky-top.navbar-dark .navbar-nav .nav-link {
		padding: 10px 0;
		color: var(--dark);
	}

	.navbar-dark .navbar-brand h1 {
		color: var(--primary);
	}
}

@media (min-width: 992px) {
	.navbar-dark {
		position: absolute;
		width: 100%;
		top: 0;
		left: 0;
		border-bottom: 1px solid rgba(256, 256, 256, 0.1);
		z-index: 999;
	}

	.sticky-top.navbar-dark {
		position: fixed;
		background: #ffffff;
	}

	.navbar-dark .navbar-nav .nav-link::before {
		position: absolute;
		content: "";
		width: 0;
		height: 2px;
		bottom: -1px;
		left: 50%;
		background: var(--primary);
		transition: 0.5s;
	}

	.navbar-dark .navbar-nav .nav-link:hover::before,
	.navbar-dark .navbar-nav .nav-link.active::before {
		width: 100%;
		left: 0;
	}

	.navbar-dark .navbar-nav .nav-link.nav-contact::before {
		display: none;
	}

	.sticky-top.navbar-dark .navbar-brand h1 {
		color: var(--primary);
	}
}

/*** Carousel ***/
.carousel-caption {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	/* background: rgba(50, 68, 130, 0.7); */
	z-index: 1;
}

@media (max-width: 576px) {
  .carousel-caption h5 {
      font-size: 14px;
      font-weight: 500 !important;
  }

  .carousel-caption h1 {
      font-size: 30px;
      font-weight: 600 !important;
  }
}


.carousel-control-prev,
.carousel-control-next {
	width: 10%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
	width: 3rem;
	height: 3rem;
}

/*** Section Title ***/
.section-title::before {
	position: absolute;
	content: "";
	width: 150px;
	height: 5px;
	left: 0;
	bottom: 0;
	background: var(--primary);
	border-radius: 2px;
}

.section-title.text-center::before {
	left: 50%;
	margin-left: -75px;
}

.section-title.section-title-sm::before {
	width: 90px;
	height: 3px;
}

.section-title::after {
	position: absolute;
	content: "";
	width: 6px;
	height: 5px;
	bottom: 0px;
	background: #ffffff;
	-webkit-animation: section-title-run 5s infinite linear;
	animation: section-title-run 5s infinite linear;
}

.section-title.section-title-sm::after {
	width: 4px;
	height: 3px;
}

.section-title.text-center::after {
	-webkit-animation: section-title-run-center 5s infinite linear;
	animation: section-title-run-center 5s infinite linear;
}

.section-title.section-title-sm::after {
	-webkit-animation: section-title-run-sm 5s infinite linear;
	animation: section-title-run-sm 5s infinite linear;
}

@-webkit-keyframes section-title-run {
	0% {
		left: 0;
	}
	50% {
		left: 145px;
	}
	100% {
		left: 0;
	}
}

@-webkit-keyframes section-title-run-center {
	0% {
		left: 50%;
		margin-left: -75px;
	}
	50% {
		left: 50%;
		margin-left: 45px;
	}
	100% {
		left: 50%;
		margin-left: -75px;
	}
}

@-webkit-keyframes section-title-run-sm {
	0% {
		left: 0;
	}
	50% {
		left: 85px;
	}
	100% {
		left: 0;
	}
}

/*** Service ***/
.service-item {
	position: relative;
	height: 300px;
	padding: 0 30px;
	transition: 0.5s;
}

.service-item .service-icon {
	margin-bottom: 30px;
	width: 60px;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--primary);
	border-radius: 2px;
	transform: rotate(-45deg);
}

.service-item .service-icon i {
	transform: rotate(45deg);
}

.service-item a.btn {
	position: absolute;
	width: 60px;
	bottom: -48px;
	left: 50%;
	margin-left: -30px;
	opacity: 0;
}
.service-item:hover a.btn {
	bottom: -24px;
	opacity: 1;
}

/*** Testimonial ***/
/* .testimonial-carousel .owl-dots {
	margin-top: 15px;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}

.testimonial-carousel .owl-dot {
	position: relative;
	display: inline-block;
	margin: 0 5px;
	width: 15px;
	height: 15px;
	background: #dddddd;
	border-radius: 2px;
	transition: 0.5s;
}

.testimonial-carousel .owl-dot.active {
	width: 30px;
	background: var(--primary);
}

.testimonial-carousel .owl-item.center {
	position: relative;
	z-index: 1;
}

.testimonial-carousel .owl-item .testimonial-item {
	transition: 0.5s;
}

.testimonial-carousel .owl-item.center .testimonial-item {
	background: #ffffff !important;
	box-shadow: 0 0 30px #dddddd;
} */

/*** Team ***/
.team-item {
	transition: 0.5s;
}

.team-social {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.5s;
}

.team-social a.btn {
	position: relative;
	margin: 0 3px;
	margin-top: 100px;
	opacity: 0;
}

.team-item:hover {
	box-shadow: 0 0 30px #dddddd;
}

.team-item:hover .team-social {
	background: rgba(9, 30, 62, 0.7);
}

.team-item:hover .team-social a.btn:first-child {
	opacity: 1;
	margin-top: 0;
	transition: 0.3s 0s;
}

.team-item:hover .team-social a.btn:nth-child(2) {
	opacity: 1;
	margin-top: 0;
	transition: 0.3s 0.05s;
}

.team-item:hover .team-social a.btn:nth-child(3) {
	opacity: 1;
	margin-top: 0;
	transition: 0.3s 0.1s;
}

.team-item:hover .team-social a.btn:nth-child(4) {
	opacity: 1;
	margin-top: 0;
	transition: 0.3s 0.15s;
}

.team-item .team-img img,
.blog-item .blog-img img {
	transition: 0.5s;
}

.team-item:hover .team-img img,
.blog-item:hover .blog-img img {
	transform: scale(1.15);
}

/*** Miscellaneous ***/
@media (min-width: 991.98px) {
	.facts {
		position: relative;
		margin-top: -75px;
		z-index: 1;
	}
}

.back-to-top {
	position: fixed;
	display: none;
	right: 45px;
	bottom: 45px;
	z-index: 99;
}

.link-animated a {
	transition: 0.5s;
}

.link-animated a:hover {
	padding-left: 10px;
}

@media (min-width: 767.98px) {
	.footer-about {
		margin-bottom: -75px;
	}
}

/* ---------career-page css--------------------------------------------- */

/* .lnr-heart:before {
	content: "";
}
.popular-post-area .owl-dots {
	text-align: center;
	bottom: 5px;
	margin-top: 20px;
	width: 100%;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
}

.popular-post-area .owl-dot {
	height: 10px;
	width: 10px;
	display: inline-block;
	background: rgba(127, 127, 127, 0.5);
	margin-left: 5px;
	margin-right: 5px;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

.popular-post-area .owl-dot.active {
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	background: #49e4fa;
}

@media (max-width: 960px) {
	.post-list {
		margin-bottom: 50px;
	}
} */

/****************    Services    **********/

#service-section{
	/* margin-top: -70px; */
	margin-left: 50px;

}
.service-content{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.service-content-1{
	height: 350px;

}
.service-content-1 .header{
	width:80%;
	margin-left: 50px;
	
}
.service-content-1 .header h5{
	margin-top: 25px;
	font-size: 30px;
	margin-bottom: 30px;
}
.service-content-1 .header p{
	font-size: 19px;
	word-spacing: 5px;
}
.service-content-2{
	height: 350px;
	background: #47b2e4;
}
.service-content-2 .header{
	width:80%;
	margin-left: 50px;
}
.service-content-2 .header h5{
	margin-top: 25px;
	color: #fff;
	font-size: 30px;
	margin-bottom: 30px;
}
.service-content-2 .header p{
	color: #fff;
	font-size: 19px;
	word-spacing: 5px;
}


@media (max-width:786px) {
	.service-content{
		display: flex;
		flex-direction: column;
	}
	.service-content-1 .header h5 ,.service-content-2 .header h5{
		width: 100%;
		font-size: 21px;
	}
	.service-content-1 .header p ,.service-content-2 .header p{
		font-size: 16px;
		
	}
}

@media (max-width:350px) {
	.service-content{
		display: flex;
		flex-direction: column;
	}
}

/* Our Activities */

#activities{
	margin-top: 50px;
	
	background: #eef9ff;

}
#activities h2{
	color: white;
	background: #1e2235;
	width: 30%;
	padding: 10px 30px;
	letter-spacing: 2px;
	border-start-end-radius: 200px;
}
.active-container{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.active-content {
	width: 100%;
	margin: 20px ;
}
.active-content img{
	width: 100%;
}
.active-content h3{
	margin-top: 20px;

}
.active-content p{
	font-size: 19px;

}
.active-content-1 {
	width: 100%;
	margin: 0px 100px;

}
.active-content-1 h2{
	font-size: 35px;

}
.active-content-1 p{
	font-size: 19px;

}
.active-content-1 img{
	height: 300px;
	margin-top: 10px;
}

@media (max-width:786px) {
	#activities{
		width: 100%;
	}
	#activities h2{
		width: 90%;
	}
	.active-container{
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.active-content h3,p{
		margin-left: 20px;
	}
	.active-content-1 h3 {
		margin-left: 20px;
	}
}


.container-div{
	/* background: #208395be; */
	background: rgb(44, 110, 99);
	width: 100%;
	height: 300px;
  }
  .container-div h2 {
	margin: 0 100px;
	color: white;
  }
  .container-div p{
	margin: 0 100px;
	font-size: 18px;
	color: white;
	
  }

  @media (max-width:786px) {
	.container-div{
		width: 100%;
		height: 530px;
	}
	.container-div h2{
		width: 100%;
	}
	.container-div p{
		width: 100%;
		margin: 0;
		font-size: 19px;
		margin-left: 5px;
	}
	
  }

/*  */

.delivery-container{
	display: flex;
	/* flex-direction: row; */
	justify-content: space-around;
	margin: 100px 100px;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 30px;
}
.dilivery-content {
	display: flex;
	flex-direction: row;

}
.dilivery-content i{
	border: 1px solid #3194db;
	padding: 20px 20px;
	border-radius: 20px;


}
.dilivery-content .fa-solid, .fa-brands{
	margin-top: 30px;
	margin-right: 30px;
	font-size: 40px;
	color: #3194db;
	transition: .5s ease-in-out;
}
.dilivery-content h3{
	color: #3194db;
}
.dilivery-content i:hover{
	color: red;
	border: 1px solid red;
}


@media (max-width:786px) {
	.delivery-container{
		margin: 40px 20px;
		width: 100%;
		display: flex;
		flex-direction: column;
	}
	.dilivery-content{
		width: 100%;
	}
}

/* Contact */

.contact{
	margin-top: 100px;
  }
  .contact .info {
	width: 100%;
	background: #fff;
  }
  
  .contact .info i {
	font-size: 20px;
	color: #2487ce;
	float: left;
	width: 44px;
	height: 44px;
	background: #e3f0fa;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	transition: all 0.3s ease-in-out;
  }
  
  .contact .info h4 {
	padding: 0 0 0 60px;
	font-size: 23px;
	font-weight: 600;
	margin-bottom: 5px;
	color: #124265;
  }
  .contact .info p {
	padding: 0 0 0 60px;
	margin-bottom: 0;
	font-size: 16.6px;
	/* color: #217bbc; */
  }
  
  .contact .info .email,
  .contact .info .phone {
	margin-top: 40px;
  }
  
  .contact .info .email:hover i,
  .contact .info .address:hover i,
  .contact .info .phone:hover i {
	background: #2487ce;
	color: #fff;
  }
  
  .contact .php-email-form {
	width: 100%;
	background: #fff;
  }
  
  .contact .php-email-form .form-group {
	padding-bottom: 8px;
  }
  
  .contact .php-email-form .error-message {
	display: none;
	color: #fff;
	background: #ed3c0d;
	text-align: left;
	padding: 15px;
	font-weight: 600;
  }
  
  .contact .php-email-form .error-message br+br {
	margin-top: 25px;
  }
  
  .contact .php-email-form .sent-message {
	display: none;
	color: #fff;
	background: #18d26e;
	text-align: center;
	padding: 15px;
	font-weight: 600;
  }
  
  .contact .php-email-form .loading {
	display: none;
	background: #fff;
	text-align: center;
	padding: 15px;
  }
  
  .contact .php-email-form .loading:before {
	content: "";
	display: inline-block;
	border-radius: 50%;
	width: 24px;
	height: 24px;
	margin: 0 10px -6px 0;
	border: 3px solid #18d26e;
	border-top-color: #eee;
	animation: animate-loading 1s linear infinite;
  }
  
  .contact .php-email-form input,
  .contact .php-email-form textarea {
	border-radius: 0;
	box-shadow: none;
	font-size: 14px;
	border-radius: 4px;
  }
  
  .contact .php-email-form input:focus,
  .contact .php-email-form textarea:focus {
	border-color: #2487ce;
  }
  
  .contact .php-email-form input {
	height: 40px;
  }
  
  .contact .php-email-form textarea {
	padding: 10px 10px;
  }
  
  .contact .php-email-form button[type=submit] {
	background: #2487ce;
	border: 0;
	padding: 10px 30px;
	color: #fff;
	transition: 0.4s;
	border-radius: 4px;
  }
  
  .contact .php-email-form button[type=submit]:hover {
	background: #3194db;
  }
  
  @keyframes animate-loading {
	0% {
	  transform: rotate(0deg);
	}
  
	100% {
	  transform: rotate(360deg);
	}
  }

  /* contact end */



.transport-content{
	margin-top: 100px;
	width: 100%;
	height:100vh;
	/* background: url("../img/shipping/home3-bg.jpg"); */
	background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.4)), url("../img/shipping/13.jpeg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	/* position: sticky; */
	overflow: hidden;
	background-attachment: fixed;
	
}
.transport{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.transport-image {
	width: 100%;
}
.transport-image img{
	margin: 100px auto;
	width: 90%;
}

.transport-header{
	width: 100%;
	margin: 100px 50px;
}
.transport-header h1{
	color: #0680f3;
	/* color: rgb(228, 7, 232); */
}
.transport-header p{
	color: #fff;
	font-size: 18px;
}



@media (max-width:786px) {
	.transport-content{
		width: 100%;
		height: 125vh;
	}
	.transport {
		display: flex;
		flex-direction: column;
	}
	.transport-image{
		width: 100%;
	}
	.transport-header{
		margin-top: -50px;
		width: 100%;
	}
	.transport-header p{
		font-size: 19px;
	}
}

/* Testimonials */

#testimonials{
	margin-top: 80px;
}
#testimonials h2{
	text-align: center;
}
#testimonials p{
	text-align: center;
	font-size: 20px;
}

.testimonials-container{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	text-align: center;
}
.testimonials-content img{
	/* width: 30%; */
     margin-top: 40px;
	border-radius: 50%;
	border: 3px solid #18d26e;
	cursor: pointer;
	transition: .5s ease-in-out;
}
.testimonials-content img:hover{
	transform: scale(1.1);
}

.testimonials-content span{
	margin-top: 10px;
	color: #18d26e;
	font-size: 17px;
}
.testimonials-content #para{
	margin: 5px 65px;
	font-size: 18px;
}


@media (max-width:786px) {
	.testimonials-container{
		display: flex;
		flex-direction: column;
	}
	.testimonials-content span{
		font-size: 20px;
	}
	.testimonials-content img{
		width: 70%;
	}
	.testimonials-content #para{
		font-size: 21px;
		width: 90%;
		margin: 10px auto;
	}
}


/* Summary */
.summary{
	margin:80px 0px ;
	/* margin-top: 60px; */
	display: flex;
	flex-direction: row;
	
}
.summary-container{
	width: 100%;

}

.summary-content{
	width: 600px;
	height: 500px;
	border: 1px solid #124265;
	text-align: center;
	background: #124265;
	color: #fff;
}
.summary-content h1{
	margin-top: 80px;
	color: #fff;
	font-weight: 600;
}
.summary-content p{
	margin: 70px 50px;
	font-size: 20px;
	font-weight: 200;
}



.summary-background{
	margin: 40px 40px;
	margin-bottom: 7%;
	box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.7);
}

@media (max-width:900px) {
	.summary{
		width: 100%;
		display: flex;
		flex-direction: column;
	}
	.summary-content{
		height: 400px;
		width: 100%;
	}
	.summary-content p{
		font-size: 20px;
		/* width: 100%; */
		margin: 0 auto;
	}
}
@media (max-width:300px) {
	
	.summary-content{
		height: 400px;
		width: 100%;
	}
	.summary-content p{
		font-size: 20px;
		margin: 0 auto;
	}
	
	
}






